/* the box sizing property to handle the padding in border 
will be added to an element  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(159, 141, 176);
}

h1 {
  font-size: 30px;
  float: right;
  padding: 12px;
  color: #fcfdfe;
  margin-left: 15px;
  border-radius: 50px;
 


}

h2 {
  font-size: 30px;
  color: #fcfdfe;
  margin-left: 10px;
  width: fit-content;

}

.custom-slider {
  width: 323px;
  margin-left: 420px;
  padding-top: 10px;
  
}


.fill {
  height: 20px;
  background-color: #f83924;
  width: 100%;
  /* border: 3px solid rgb(106, 23, 23); */
 
}


/* the grid container for the cards */

#grid-container {
    width: 550px;
    height: 560px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
   

}

#image {
  width: 87%;
  height: 87%;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#gameOver {
  font-size: 100px;
  color:#f84724;
  background-color: rgb(231, 231, 103);
  position: absolute;
  top: 40%;
  left: 25%;
}



.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}

/* .front-face {
    transform: rotateY(180deg);
  } */


#reset-button {
 
    padding: 12px;
    position: absolute;
    font-size: 16px;
    left: 46%;
    transform: translate(-50%, -50%);
    top: 95%;
    background-color:#f87061;
    color: #fff;
    border-radius: 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.8);
  
}


#reset-button:hover {
    background-color:#002ead;
    transition: 0.7s;
}