/* the box sizing property to handle the padding in border 
will be added to an element  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(159, 141, 176);
}

/* the grid container for the cards */

#grid-container {
    width: 540px;
    height: 580px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    padding-top: 8%;
    /* perspective: 1000px; */
   

}

#image {
  width: 87%;
  height: 87%;
  padding: 0px;

}

/* .card {

  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  transform: scale(1);
  transform-style: preserve-3d;
  /* to produce the movement */
  /* transition: transform .5s;
  backface-visibility: hidden;
                
} */ */

/* Adds a click effect to the images */

/* .card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

  /* rotates the card to 180 deg */
/* .card.flip {
    transform: rotateY(180deg);
} */ */


.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}

.front-face {
    transform: rotateY(180deg);
  }


.button {
    /* margin: 6px; */
    padding: 12px;
    position: absolute;
    font-size: 16px;
    left: 46%;
    transform: translate(-50%, -50%);
    top: 95%;
    background-color:#f87061;
    color: #fff;
    border-radius: 15px;
  
}


.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}