/* the box sizing property to handle the padding in border 
will be added to an element  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background-color: rgb(159, 141, 176);
    /* overflow: hidden; */
}

  h1 {
  font-size: 35px;
  float: right;
  color: #fcfdfe;
  border-radius: 5px;
  width: 56px;
  /* height: 50px; */
  text-align: center;
  background-color: #f87061;
  border: 3px solid #37c7eb;
 


}

 h2 {
  font-size: 30px;
  color: #fcfdfe;
  width: 85px;
  /* height: 65px; */
  background-color: #f87061;
  border: 3px solid #37c7eb;

}

#slide-bar .custom-slider {
  width: 223px;
  margin-left: 520px;
  position: relative;

  
}


.fill {
  height: 20px;
  background-color: #37c7eb;
  width: 100%;
  /* border: 3px solid rgb(106, 23, 23); */
 
}


/* the grid container for the cards */

#grid-container {
    width: 550px;
    height: 540px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
   

}

#image {
  width: 87%;
  height: 87%;
  padding: 0px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

 h3 {
  font-size: 100px;
  color:#f84724;
  background-color: rgb(231, 231, 103);
  position:fixed;
  /* border: 3px solid #1ec8f3; */
  top: 42%;
  left: 28%; 
 } 


#reset-button{
 
    float: inline-end;
    font-size: 25px;
    width: 80px;
    margin-right: 44%;
    background-color:#f87061;
    color: #fff;
    border-radius: 15px;
    padding: 2px;
    border: 3px solid #37c7eb;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}

#start-button {
  float: inline-start;
  font-size: 25px;
  padding: 2px;
  width: 80px;
  margin-left: 40%;
  background-color:#f87061;
  color: #fff;
  border-radius: 15px;
  border: 3px solid #37c7eb;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


#reset-button:hover {
    background-color:#002ead;
    transition: 0.7s;
}

#start-button:hover {
  background-color:#002ead;
  transition: 0.7s;
}